In [2]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import joblib

In [3]:
df1=pd.read_csv("../traffic.csv")
df1.head()

              DateTime  Junction  Vehicles           ID
0  2015-11-01 00:00:00         1        15  20151101001
1  2015-11-01 01:00:00         1        13  20151101011
2  2015-11-01 02:00:00         1        10  20151101021
3  2015-11-01 03:00:00         1         7  20151101031
4  2015-11-01 04:00:00         1         9  20151101041

In [4]:
df1['DateTime'] = pd.to_datetime(df1['DateTime'])

In [5]:
# Extract features
df1['hour'] = df1['DateTime'].dt.hour
df1['day'] = df1['DateTime'].dt.day
df1['month'] = df1['DateTime'].dt.month
df1['weekday'] = df1['DateTime'].dt.weekday  # 0=Monday, 6=Sunday
df1['is_weekend'] = df1['weekday'].apply(lambda x: 1 if x >= 5 else 0)

In [6]:
df1 = df1.drop(['ID', 'DateTime'], axis=1)

In [7]:
X = df1.drop('Vehicles', axis=1)   # input features
y = df1['Vehicles']                # output variable

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [9]:
np.savez("traffic_data.npz", X_train=X_train, X_test=X_test, y_train=y_train, y_test=y_test)

In [10]:
joblib.dump(scaler, "scaler.save")

['scaler.save']